*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: monospace;
    font-size: 10px;
}

:root {
    --azul-profundo: #1B4965;
    --turquesa-claro: rgb(112, 168, 149);
    --verde-agua: #B8DEDA;
    --arena-suave: #F4EAE6;
    --gris-oscuro: #333333;
    --rosa: #1B4965;
    --blanco: rgba(255, 255, 255, 1);
    --gris-claro: rgba(244, 244, 244, 1);
}