*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: monospace;
    font-size: 10px;
}

:root {
    --azul-profundo: #1B4965;
    --turquesa-claro: #5FA8D3;
    --verde-agua: #B8DEDA;
    --arena-suave: #F4EAE6;
    --gris-oscuro: #333333;
}