.sensores {
    width: 100%;
    height: auto; /* Cambiamos a altura automática */
    padding: 2rem 0; /* Añadimos padding */
    background-color: rgb(236, 167, 231);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.datos {
    width: 100%;
    height: auto; /* Altura automática */
    border-radius: 1rem;
    padding: 1rem; /* Reducimos el padding en móviles */
    display: flex;
    flex-direction: column; /* Cambiamos a columna en móviles */
    gap: 1rem; /* Espacio entre elementos */
    align-items: center;
}

.sensor {
    width: 90%; /* Ocupa casi todo el ancho en móviles */
    height: auto; /* Altura automática */
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sensor div {
    width: 8rem;
    height: 8rem;
    border-radius: 1rem;
}

.sensor div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sensor h1 {
    font-family: "Lilita One", sans-serif;
    color: rgb(77, 71, 70);
    font-size: 25px;
}

.sensor p {
    font-family: "Lilita One", sans-serif;
    color: rgb(77, 71, 70);
    font-size: 15px;
}

.datos-b {
    width: 100%;
    height: auto; /* Altura automática */
    border-radius: 1rem;
    padding: 1rem; /* Reducimos el padding en móviles */
    display: flex;
    flex-direction: column;
}

.datos-b h1 {
    font-family: "Lilita One", sans-serif;
    color: rgb(77, 71, 70);
    font-size: 25px;
}

