.sensores {
    width: 100%;
    height: auto;
    padding: 2rem 0;
    background-color: rgb(236, 167, 231);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.datos {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 1rem; /* Espacio entre elementos */
}

.sensor {
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sensor div {
    width: 8rem;
    height: 8rem;
    border-radius: 1rem;
}

.sensor div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sensor h1 {
    font-family: "Lilita One", sans-serif;
    color: rgb(77, 71, 70);
    font-size: 25px;
}

.sensor p {
    font-family: "Lilita One", sans-serif;
    color: rgb(77, 71, 70);
    font-size: 15px;
}

.datos-b {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.datos-b h1 {
    font-family: "Lilita One", sans-serif;
    color: rgb(77, 71, 70);
    font-size: 25px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .datos {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en tablets */
    }
}

@media (max-width: 480px) {
    .datos {
        grid-template-columns: 1fr; /* 1 columna en móviles */
    }
}