/* Estilos base (para desktop) */
.donaciones {
    width: 100%;
    height: 100vh;
    background-color: var(--turquesa-claro);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    padding: 1rem;
}

.logo-donation {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 25rem;
    height: 6rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.logo-donation div {
    width: 20rem;
    height: 6rem;
}

.logo-donation div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo-donation h1 {
    font-family: "Lilita One", sans-serif;
    font-size: 18px;
    color: var(--azul-profundo);
}

.contenedor-donation {
    grid-row: 2/3;
    grid-column: 1/2;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
}

.contenedor-donation h2 {
    font-family: "Lilita One", sans-serif;
    font-size: 80px;
    color: var(--azul-profundo);
}

.contenedor-donation h3 {
    font-family: "Lilita One", sans-serif;
    font-size: 25px;
    color: var(--azul-profundo);
}

.contenedor-donation p {
    width: 20rem;
    font-family: "Lilita One", sans-serif;
    font-size: 18px;
    color: var(--gris-claro);
}

.contenedor-donation .redes_sociales-f {
    width: 50rem;
    height: 5rem;
    display: flex;
    gap: 1rem;
}

.redes_sociales-f a {
    width: 6rem;
    height: 5rem;
}

.redes_sociales-f a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-container {
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contactForm {
    width: 50rem;
    height: 50rem;
    background-color: var(--gris-oscuro);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border-radius: 1rem;
    padding: 1rem;
}

#contactForm input {
    all: unset;
    width: 30rem;
    height: 5rem;
    border: none;
    border-bottom: 2px solid #ffffff;
    outline: none;
    padding: 5px;
    color: white;
    font-size: 20px;
}

#contactForm textarea {
    width: 32rem;
    height: 10rem;
    font-family: "Lilita One", sans-serif;
    font-size: 18px;
    color: var(--azul-profundo);
    padding: 0.5rem;
}

#contactForm select {
    width: 15rem;
    height: 3rem;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%231B4965'%3e%3cpath d='M7 10l5 5 5-5z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 12px;
}

#contactForm button {
    width: 15rem;
    height: 5rem;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--blanco);
    background-color: var(--azul-profundo);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#contactForm button:hover {
    background-color: var(--turquesa-claro);
    transform: translateY(-2px);
}

#contactForm button:active {
    transform: translateY(0);
}

/* Media Queries para Tablet */
@media (max-width: 1023px) {
    .donaciones {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
        min-height: 100vh; /* Mantenemos min-height */

    }

    .logo-donation {
        grid-row: 1/2;
        grid-column: 1/2;
        width: 100%;
        justify-content: flex-start;
        padding-left: 1rem;
    }

    .contenedor-donation {
        grid-row: 2/3;
        grid-column: 1/2;
        padding: 1rem;
        gap: 2rem;
    }

    .contenedor-donation h2 {
        font-size: 60px;
    }

    .contenedor-donation h3 {
        font-size: 20px;
    }

    .contenedor-donation p {
        width: 100%;
    }

    .contenedor-donation .redes_sociales-f {
        width: 100%;
        justify-content: center;
    }

    .contact-container {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    #contactForm {
        width: 90%;
        height: auto;
        padding: 2rem;
    }

    #contactForm input,
    #contactForm textarea {
        width: 100%;
    }
}

/* Media Queries para Mobile */
@media (max-width: 767px) {
    .donaciones {
        min-height: 100vh; /* Aseguramos que ocupe al menos el 100% de la pantalla */
        height: auto; /* Permitimos que el contenido crezca si es necesario */
    }
    .logo-donation {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .logo-donation h1 {
        font-size: 16px;
    }

    .contenedor-donation h2 {
        font-size: 40px;
    }

    .contenedor-donation h3 {
        font-size: 18px;
    }

    .contenedor-donation p {
        font-size: 16px;
    }

    .redes_sociales-f a {
        width: 4rem;
        height: 4rem;
    }

    #contactForm {
        width: 100%;
        padding: 1rem;
    }

    #contactForm input {
        height: 4rem;
        font-size: 16px;
    }

    #contactForm textarea {
        height: 8rem;
        font-size: 16px;
    }

    #contactForm button {
        width: 100%;
        height: 4rem;
        font-size: 1.2rem;
    }
}


/* Estilos base (para desktop) */
.recomendaciones {
    width: 100%;
    height: 100vh;
    background-color: var(--turquesa-claro);
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 1rem;
}

.logo-recomend {
    grid-row: 1/2;
    width: 25rem;
    height: 6rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.logo-recomend div {
    width: 20rem;
    height: 6rem;
}

.logo-recomend div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-container-recomend {
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contactFormRecomend {
    width: 50rem;
    height: 50rem;
    background-color: var(--gris-oscuro);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border-radius: 1rem;
    padding: 1rem;
}

#contactFormRecomend input {
    all: unset;
    width: 30rem;
    height: 5rem;
    border: none;
    border-bottom: 2px solid #ffffff;
    outline: none;
    padding: 5px;
    color: white;
    font-size: 20px;
}

#contactFormRecomend textarea {
    width: 32rem;
    height: 10rem;
    font-family: "Lilita One", sans-serif;
    font-size: 18px;
    color: var(--azul-profundo);
    padding: 0.5rem;
}

#contactFormRecomend button {
    width: 15rem;
    height: 5rem;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--blanco);
    background-color: var(--azul-profundo);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#contactFormRecomend button:hover {
    background-color: var(--turquesa-claro);
    transform: translateY(-2px);
}

#contactFormRecomend button:active {
    transform: translateY(0);
}

/* Media Queries para Tablet */
@media (max-width: 1023px) {
    .recomendaciones {
        height: auto;
        padding: 1rem;
        min-height: 100vh; /* Mantenemos min-height */

    }

    .logo-recomend {
        width: 100%;
        justify-content: flex-start;
        padding-left: 1rem;
    }

    .contact-container-recomend {
        padding: 1rem;
    }

    #contactFormRecomend {
        width: 90%;
        height: auto;
        padding: 2rem;
    }

    #contactFormRecomend input,
    #contactFormRecomend textarea {
        width: 100%;
    }

    #contactFormRecomend button {
        width: 100%;
    }
}

/* Media Queries para Mobile */
@media (max-width: 767px) {
    .recomendaciones {
        min-height: 100vh; /* Aseguramos que ocupe al menos el 100% de la pantalla */
        height: auto; /* Permitimos que el contenido crezca si es necesario */
    }
    .logo-recomend {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .logo-recomend div {
        width: 15rem;
        height: 5rem;
    }

    .logo-recomend h1 {
        font-size: 16px;
    }

    #contactFormRecomend {
        width: 100%;
        padding: 1rem;
    }

    #contactFormRecomend input {
        height: 4rem;
        font-size: 16px;
    }

    #contactFormRecomend textarea {
        height: 8rem;
        font-size: 16px;
    }

    #contactFormRecomend button {
        height: 4rem;
        font-size: 1.2rem;
    }
}