.header {
    width: 100%;
    height: 6rem;
    padding: 0px 3rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--turquesa-claro);
}

.menu {
    display: flex;
    justify-content: space-around;
    gap: 1rem;

    align-items: center;
}

.menu button {
    all: unset;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    color: var(--azul-profundo);
    cursor: pointer;
    transition: color 0.3s ease;
}

.menu button:hover {
    color: palevioletred;
}

/* Media Queries para móviles */
@media (max-width: 767px) {
    .header {
            height: auto;
            flex-direction: column;
        }
    .header {
        flex-direction: column;
        padding: 1rem 0;
        gap: 1rem;
    }

    .header img {
        width: 20rem;
        margin: auto;
    }

    .menu {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;

        align-items: center;
    }
}