.header {
    width: 100%;
    height: 6rem; /* Manteniendo el tamaño aumentado */
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.9;
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-color: var(--turquesa-claro);
    padding: 0 2rem; /* Manteniendo el padding lateral */
}

.logotipo {
    width: 25rem; /* Manteniendo el tamaño aumentado */
    height: 6rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem; /* Espacio entre el logo y el texto */
}

.logotipo div {
    width: 20rem; /* Manteniendo el tamaño ajustado */
    height: 6rem;
}

.logotipo div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logotipo h1 {
    font-family: "Lilita One", sans-serif;
    font-size: 18px; /* Manteniendo el tamaño aumentado */
    color: var(--azul-profundo);
}

.menu {
    width: 50rem;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu button {
    all: unset;
    width: 10rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lilita One", sans-serif;
    font-size: 18px;
    color: var(--azul-profundo);
    cursor: pointer;
    transition: color 0.3s ease; /* Manteniendo la transición suave */
}

.menu button:hover {
    color: palevioletred;
}

/* Media Queries para móviles */
@media (max-width: 767px) {
    .header {
        height: auto;
        flex-direction: column;
        padding: 1rem 0;
        gap: 1rem;
    }

    .logotipo {
        width: 100%;
        height: auto;
        flex-direction: column;
        gap: 0.5rem;
    }

    .logotipo div {
        width: 8rem;
        height: 8rem;
    }

    .logotipo h1 {
        font-size: 16px;
    }

    .menu {
        width: 100%;
        height: auto;
        flex-direction: column;
        gap: 0.5rem;
    }

    .menu button {
        width: 100%;
        height: 3rem;
    }
}

/* Media Queries para tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    .header {
        height: 10rem;
    }

    .logotipo {
        width: 22rem;
        height: 6rem;
    }

    .logotipo h1 {
        font-size: 16px;
    }

    .menu {
        width: 40rem;
    }
}
